.text-submit-form {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  top: 60px;
  bottom: 0;
  padding-right: 300px;
  resize: none;
  -webkit-appearance: none;
}

.text-input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f1f1e8;
  border-top: 1px solid rgba(109, 108, 109, 0.54);
  border-radius: 0;
  -webkit-appearance: none;
}

.text-input:focus {
  outline: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 767px) {
  .text-submit-form {
    padding-right: 0;
    padding-left: 0;
  }
  .text-input {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-input,
  input::-webkit-input-placeholder {
    font-size: 14px;
  }
}
